<html>
<head>
    <title>Add new movie</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
        rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
              crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Want add new movie?</h1>
      <form method="POST" action="{{ url_for('add_movie', user_id=user_id) }}">
      <label for="name">Movie name:</label><br>
      <input type="text" id="name" name="name"><br>
      <input type="submit" value="Submit">
    </form>
    <a href="http://127.0.0.1:5000/users">Go back to the main page</a>
</body>
</html>