<html>
    <head>
        <title> User Movies - MovieWeb App </title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
        rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
              crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <h1 class="h1"> Movies </h1>
        <ul>
            {% for movie in movies %}
                <div class="movie">
                    <h2>{{ movie.0.title }}</h2>
                    <p><em>Director: {{ movie.0.director }}</em></p>
                    <p>Year: {{ movie.0.year }}</p>
                    <p>Rating: {{ movie.0.rating }}</p>
                    <form action="/users/{{ user_id }}/delete_movie/{{ movie.0.movie_id }}">
                    <input type="submit" value="Delete" style="float:left; margin-right:5px"></form>
                    <form action="/users/{{ user_id }}/update_movie/{{ movie.0.movie_id }}">
                    <input type="submit" value="Update" style="float:left; margin-right:5px"></form>
                    <form action="/users/{{ user_id }}/movie_review/{{ movie.0.movie_id }}">
                    <input type="submit" value="Review" style="float:left; margin-right:5px"></form>
                </div>
            {% endfor %}
        </ul>
        <a href="{{ url_for('add_movie', user_id=user_id) }}">To add a new movie</a>
        <a href="{{ url_for('list_users') }}">Go back to the main page</a>
    </body>
</html>